<html>
<head>
</head>
<body>
<div class="row">
	<div class="large-12 medium-12 small-12 columns">
		<ul class="progressbar">
			<li class="active">¿Qué hacer?</li>
			<li class="active">Crear Cupón</li>
			<li>Diseñar Cupón</li>
			<li>Añadir imagen</li>
		</ul>
	</div>
</div>
<!-- fieldsets -->
<!-- multistep form -->
<form id="msform" class="row">
	<fieldset class="large-12 columns">
		<h2 class="fs-title">Elige el tipo de Cupón</h2>
		<h3 class="fs-subtitle">paso 2</h3>
		<ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-1 actions-grid">
			<li>
				<a href="editorCampos.php?opcion=beneficio">
					<img src="css/img/item_icon_1.png">
					<div>Beneficio</div>
				</a>
			</li>
			<li>
				<a href="editorCampos.php?opcion=promocion">
					<img src="css/img/item_icon_2.png">
					<div>Promoci&oacute;n</div>
				</a>
			</li>
			<li>
				<a href="editorCampos.php?opcion=panorama">
					<img src="css/img/item_icon_3.png">
					<div>Panorama</div>
				</a>
			</li>
			<li>
				<a href="editorCampos.php?opcion=curso">
					<img src="css/img/item_icon_4.png">
					<div>Curso & Taller</div>
				</a>
			</li>
			<li>
				<a href="editorCampos.php?opcion=social">
					<img src="css/img/item_icon_5.png">
					<div>Social</div>
				</a>
			</li>
			<li>
				<a href="editorCampos.php?opcion=concurso">
					<img src="css/img/item_icon_6.png">
					<div>Concurso</div>
				</a>
			</li>
		</ul> 
		<div class="row">
			<div class="small-12 columns text-center">
				<a class="button radius small" href="gestorCupones.php">Anterior</a>
			</div>
		</div>
	</fieldset>
</form>
</body>
</html>