<div class="row">
	<div class="large-12 medium-12 small-12 columns">
		<ul class="progressbar">
			<li class="active">Recuperar Contrase&ntilde;a</li>
		</ul>
	</div>
</div>
<!-- fieldsets -->
<!-- multistep form -->
<form id="msform" class="row" method="post">
	<fieldset class="large-12 columns">
		<h2 class="fs-title">Recuperar Contrase&ntilde;a</h2>
		<h3 class="fs-subtitle">admin passclub</h3>
		<div class="lead-login">
			<div class="row">
				<div class="large-8 large-centered medium-8 medium-centered small-12 columns">
					<p>Para recuperar tu contrase&ntilde;a de acceso a passclub.cl, a continuaci&oacute;n ingresa la direcci&oacute;n de correo electr&oacute;nico con la que has registrado tu cuenta:</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-8 small-centered columns text-left">
				<label><h5>Correo electr&oacute;nico</h5>
				<input type="text" name="mail" placeholder="ej: mail@mimail.com" />
				</label>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="small-8 small-centered columns text-left">
				<button name="revisarCorreo" class="button radius">recuperar contrase&ntilde;a</a>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="large-12 medium-12 small-12 columns">
				<div class="panel lead-login">
					<h4><strong>¿Problemas para ingresar?</strong></h4>
					<p>Llámanos al Centro de Atención al Suscriptor  al <a href="tel:600 4000 100">600 4000 100</a> o escríbenos a <a href="mailto:clubdelectores@australtemuco.cl">clubdelectores@australtemuco.cl</a></p>
				</div>
			</div>
		</div>
	</fieldset>
</form>
