<!-- Inicio Header Taxonomia-->
<div class="primary-bg">
	<div class="row">
		<div class="large-12 medium-12 small-12 columns">
			<h2><span>Revista PassClub</span></h2>
		</div>
	</div>
</div>
<!-- Fin Header ciudad yo categoria -->

<!-- Inicio SubHeader Taxonomia-->
<div class="envelope-subheader-tax">
	<div class="row">
		<div class="small-12 columns">
			<p>Todos los meses, conoce a trav&eacute;s de tu revista PassClub increíbles promociones y beneficios solo para Socios</p>
		</div>
	</div>
</div>
<!-- Fin SubHeader ciudad yo categoria -->

<div class="row post-cupon" data-equalizer>
	{revistaTemuco}
	{revistaValdivia}
</div>

<div class="row post-cupon" data-equalizer>
	{revistaOsorno}
	{revistaPuertoMontt}
</div>

<div class="row" style="margin-top:2rem;">
	<div class="large-12 medium-12 small-12 columns">
		<a href="index.php" class="button radius secondary">volver al inicio</a>
	</div>
</div>