<div class="row">
	<div class="large-12 medium-12 small-12 columns">
		<ul class="progressbar">
			<li class="active">ver perfil</li>
		</ul>
	</div>
</div>
<!-- fieldsets -->
<!-- multistep form -->
<form id="msform" class="row">
	<fieldset class="large-12 columns">
		<h2 class="fs-title">Tu perfil</h2>
		<h3 class="fs-subtitle">información de cuenta</h3>
		{sinEditar}
		<div class="row">
			<div class="small-8 small-centered columns text-left">
				<label><h5 class="subheader">Nombre</h5></label>
				<h4>{nombre}</h4>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="small-8 small-centered columns text-left">
				<label><h5 class="subheader">Fecha de nacimiento</h5></label>
				<h4>{fechaNac}</h4>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="small-8 small-centered columns text-left">
				<label><h5 class="subheader">Dirección</h5></label>
				<h4>{direccion}</h4>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="small-8 small-centered columns text-left">
				<label><h5 class="subheader">Correo electrónico</h5></label>
				<h4>{mail}</h4>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="small-8 small-centered columns text-left">
				<label><h5 class="subheader">Teléfono</h5></label>
				<h4>{fono}</h4>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="small-8 small-centered columns text-left">
				<a href="editorUsuario.php" class="button radius">editar perfil</a>
			</div>
		</div>
		<br/>
	</fieldset>
</form>