<!-- Inicio Cabecera Mapa -->
	<div class="headermap-bar">
	<div class="row">
		<div class="large-5 medium-5 small-12 columns text-center headermap-bar-title">
			<h2>Mapa de Beneficios</h2>
		</div>
		<div class="small-7 columns text-right headermap-bar-social hide-for-small-only">
			<ul class="inline-list">
				<li><a href="#" class="icon-facebook"></a></li>
				<li><a href="#" class="icon-twitter"></a></li>
			</ul>
		</div>
	</div>
</div>
	<!-- Fin Cabecera Mapa -->

	<!-- Inicio Mapa Beneficios -->
	<div id="map-bar">
		<div id="map" style="height:400px; width:100%; position:absolute"></div>
		<div class="row collapse">
		<div class="large-5 medium-5 small-12 columns" id="map-bar-leyenda">
			<div id="map-bar-leyenda-inner">
				<div id="map-bar-leyenda-title">Descubre donde disfrutar con tu Pass Club</div>
				<div id="map-bar-leyenda-subtitle">Selecciona las categorías de los beneficios que quieres ver en el mapa. Conoce la ubicación de los distintos locales asociados a Pass Club.</div>
				<div id="map-bar-leyenda-checkboxes">
					<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
						<li><input id="checkbox1" type="checkbox"><label for="checkbox1">Restaurantes</label></li>
						<li><input id="checkbox2" type="checkbox"><label for="checkbox2">Pubs</label></li>
						<li><input id="checkbox3" type="checkbox"><label for="checkbox3">Cafeterías</label></li>
						<li><input id="checkbox4" type="checkbox"><label for="checkbox4">Discoteques</label></li>
						<li><input id="checkbox5" type="checkbox"><label for="checkbox5">Cine</label></li>
						<li><input id="checkbox6" type="checkbox"><label for="checkbox6">Comida Rapida</label></li>
						<li><input id="checkbox7" type="checkbox"><label for="checkbox7">Turismo</label></li>
						<li><input id="checkbox8" type="checkbox"><label for="checkbox8">Infantil</label></li>
						<li><input id="checkbox9" type="checkbox"><label for="checkbox9">Belleza</label></li>
						<li><input id="checkbox10" type="checkbox"><label for="checkbox10">Deporte</label></li>
						<li><input id="checkbox11" type="checkbox"><label for="checkbox11">Salud</label></li>
						<li><input id="checkbox12" type="checkbox"><label for="checkbox12">Veterinarias</label></li>
						<li><input id="checkbox13" type="checkbox"><label for="checkbox13">Automotriz</label></li>
						<li><input id="checkbox14" type="checkbox"><label for="checkbox14">Comercio</label></li>
					</ul>
				</div>
				<button onclick="actualizarMapa()" class="button radius">seleccionar</button>
			</div>
		</div>
	</div>
	</div>

	<!-- Fin Mapa Beneficios -->