<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login - PassClub</title>
<!-- CSS Owl Slider -->
<link rel="stylesheet" href="css/admin/stylesheets/owl.carousel.css">
<link rel="stylesheet" href="css/admin/stylesheets/owl.theme.css">
<!-- App CSS -->
<link rel="stylesheet" href="css/admin/stylesheets/app.css" />

<!-- Seet Alert -->
<link rel="stylesheet" type="text/css" href="css/admin/stylesheets/sweet-alert.css">
<!-- Modernizr -->
<script src="css/admin/bower_components/foundation/js/vendor/modernizr.js"></script>
<style type="text/css">
	#msform input, #msform textarea{
		padding: 10px;
	}	
</style>
</head>
<body>