<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>PassClub</title>
<!-- CSS Owl Slider -->
<link rel="stylesheet" href="css/admin/stylesheets/owl.carousel.css">
<link rel="stylesheet" href="css/admin/stylesheets/owl.theme.css">
<!-- App CSS -->
<link rel="stylesheet" href="css/admin/stylesheets/app.css" />

<!-- Seet Alert -->
<link rel="stylesheet" type="text/css" href="css/admin/stylesheets/sweet-alert.css">
<!-- Modernizr -->
<script src="css/admin/bower_components/foundation/js/vendor/modernizr.js"></script>
<style type="text/css">
	#msform input, #msform textarea{
		padding: 10px!important;
	}	
</style>

</head>
<body>

<nav class="nav-admin">
	<ul class="inline-list">
		<li><a href="index.php">&#171; volver al inicio</a></li>
		<li><a href="gestorCupones.php">Administración</a></li>
		<li><a href="visorPerfilUsuario.php">Mi Perfil</a></li>
		<li><a href="logout.php">Cerrar sesión</a></li>
	</ul>
</nav>