	<div id="custom-pag-place"></div>
<!-- Inicio SlideshowX -->
<div id="owl-slide" class="owl-carousel owl-theme">
	<!-- BEGIN slideShow -->
	<div class="item">
		<img class="lazyOwl" data-src="{imagen}">
		<div class="lazyOwl owl-caption">
			<div class="owl-titulo">{titulo}</div>
			<div class="owl-subtitulo">
				<span class="owl-fecha">{ciudad}</span> • 
				<span class="owl-lugar">{nombre}</span>
			</div>
			<div class="owl-promo">
				<span class="owl-descuento">{auxiliar}</span>
				<a href="visor.php?cuponid={id}" class="owl-button">ver m&aacute;s</a>
			</div>
		</div>
	</div>
	<!-- END slideShow -->
</div>
<!-- Fin SlideshowX -->